.custom-divider {
  border-top: 1px solid rgb(73, 72, 72);
  margin-top: auto;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.selectCard {
  background-color:lemonchiffon;
  color: green;
}

.noSelection {
  background-color:rgb(112, 122, 122);
  color: red;
  cursor: not-allowed;
}